<mat-toolbar color="primary" data-cy="app-toolbar">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>My Application</span>
</mat-toolbar>
<div class="container">
  <h2 data-cy="app-headline">Star Wars people</h2>
  <div class="margin-bottom">
    <mat-slide-toggle
      [(ngModel)]="random"
      color="accent"
      (change)="changeRandom()"
      data-cy="random-slider">
      Randomize people
    </mat-slide-toggle>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="people$ | async as people; else peopleLoading">
    <div fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let person of people; index as i">
      <mat-card class="mat-elevation-z4" [attr.data-cy]="'person-card-' + i" [ngClass]="{'active-card' : activeCard === i}">
        <mat-card-title>{{ person.name }}</mat-card-title>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Birth year: {{person.birth_year}}</mat-list-item>
            <mat-list-item role="listitem">Gender: {{person.gender}}</mat-list-item>
            <mat-list-item role="listitem">Height: {{person.height}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions class="text-center">
          <button mat-button (click)="loadPersonDetails(person.url, i)" [attr.data-cy]="'person-detail-button-' + i">
            Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="100%" *ngIf="person$ | async as person; else personLoading">
      <mat-card class="mat-elevation-z4" data-cy="person-details">
        <mat-card-title>Details for {{person.name }}</mat-card-title>
        <mat-card-content fxLayout="row wrap">
          <mat-list role="list" fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-list-item role="listitem">Birth year: {{person.birth_year}}</mat-list-item>
            <mat-list-item role="listitem">Gender: {{person.gender}}</mat-list-item>
            <mat-list-item role="listitem">Height: {{person.height}}</mat-list-item>
            <mat-list-item role="listitem">Mass: {{person.mass}}</mat-list-item>
          </mat-list>
          <mat-list role="list" fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-list-item role="listitem">Eye color: {{person.eye_color}}</mat-list-item>
            <mat-list-item role="listitem">Hair color: {{person.hair_color}}</mat-list-item>
            <mat-list-item role="listitem">Skin color: {{person.skin_color}}</mat-list-item>
            <mat-list-item role="listitem" *ngIf="homeworld$ | async as world" data-cy="person-homeworld">
              Homeworld: {{world.name}}
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="films$ | async as films" role="list" fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-list-item role="listitem" data-cy="person-films">Films: {{concatTitles(films)}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-template #personLoading>
      <ngx-skeleton-loader
        *ngIf="showPersonLoader"
        class="full-width text-center"
        count="1"
        appearance="circle"
        [theme]="{
          'border-radius': '5px',
          width: '100%',
          height: '250px',
          border: '1px solid white'
        }"
      ></ngx-skeleton-loader>
    </ng-template>
  </div>
  <ng-template #peopleLoading>
    <ngx-skeleton-loader
      class="full-width text-center"
      count="3"
      appearance="circle"
      [theme]="{
          'border-radius': '5px',
          width: '32%',
          height: '250px',
          border: '1px solid white'
        }"
    ></ngx-skeleton-loader>
  </ng-template>
</div>
